* {
  box-sizing: border-box;
}
:root {
  /* Primary */
  --red: hsl(0, 100%, 66%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --lg-violet: hsl(270, 3%, 87%);
  --dg-violet: hsl(279, 6%, 55%);
  --vdg-violet: hsl(278, 68%, 11%);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-size: 18px;
  line-height: 1;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

.attribution {
  text-align: right;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.main-content .decoration {
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(100, 72, 254, 1) 0%,
    rgba(96, 5, 148, 1) 100%
  );
}

.main-content .content {
  width: 33%;
  justify-self: center;
  align-self: center;
}

/* Form style */
.card-form label,
.card-form input {
  width: 100%;
  display: block;
}

.card-form label {
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--vdg-violet);
  padding: 0.4em 0;
}

.card-form input {
  border: 1px solid var(--lg-violet);
  padding: 0.75em 0.5em;
  border-radius: 0.5em;
  transition: 0.3s ease-in-out;
  margin-bottom: 0.5em;
}

.card-form input:focus {
  outline: none;
  border: 1px solid var(--vdg-violet);
}

.card-form input::placeholder {
  color: var(--lg-violet);
}

.confirm-btn {
  width: 100%;
  background-color: var(--vdg-violet);
  color: var(--white);
  border: none;
  padding: 1em 0;
  cursor: pointer;
  border-radius: 0.5em;
  transition: 0.3s ease-in-out;
}

.confirm-btn:hover {
  background-color: hsl(278, 68%, 18%);
}

.date-and-cvc {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date input {
  display: inline-block;
  width: 45%;
}

/* Cards style */
.card-front,
.card-rear {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 380px;
  height: 200px;
  color: var(--white);
}

.card-front {
  display: grid;
  align-items: baseline;
  background-image: url("../images/bg-card-front.png");
  top: 15%;
  left: 30%;
  z-index: 10;
}

.card-rear {
  background-image: url("../images/bg-card-back.png");
  top: 52.5%;
  left: 45%;
}

.card-front .card-logo {
  padding: 1rem;
}

.card-front .card-number {
  padding-top: 1em;
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 0.1em;
}

.card-front .card-info {
  display: flex;
  justify-content: space-between;
  padding: 0 1.2em;
}

.card-rear .cvc-display {
  position: relative;
  top: 90px;
  text-align: right;
  padding-right: 45px;
  font-size: 0.9em;
}

.final-message {
  display: none;
}

.final-message-visible {
  display: block !important;
}

.invisible {
  display: none !important;
}

.visible {
  opacity: 1 !important;
}

.final-message h2 {
  font-size: 2em;
  text-align: center;
  padding-block: 0.5em;
}

.final-message p {
  text-align: center;
  padding-bottom: 2em;
}

.final-message .complete-icon {
  text-align: center;
}

.complete-icon img {
  max-width: 17%;
}

.err-msg {
  padding: 0.4em;
  transition: 0.3s ease-in-out;
}

.err-msg,
.date-err {
  opacity: 0;
  color: var(--red);
  font-size: 0.7em;
}

.invalid-input {
  border: 1px solid var(--red) !important;
}

@media (max-width: 1065px) {
  .card-front {
    left: 15%;
  }
  .card-rear {
    left: 25%;
  }
}

@media (max-width: 915px) {
  .card-front {
    left: 5%;
  }

  .card-rear {
    left: 10%;
  }
}

@media (max-width: 845px) {
  body {
    font-size: 0.8rem;
  }
  .main-content {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .decoration {
    display: flex;
    justify-content: right;
    padding: 2em 5em 2em 0;
  }

  .card-front,
  .card-rear {
    width: 280px;
    height: 140px;
    font-size: 1em;
  }

  .card-rear {
    position: static;
  }

  .card-front {
    top: 55%;
    padding-bottom: 1.3em;
  }

  .card-front .card-number {
    padding-top: 0.5em;
  }

  .card-front .card-info {
    padding-top: 0.5em;
  }

  .card-rear .cvc-display {
    top: 65px;
  }

  .main-content .content {
    width: 50%;
    padding-top: 8em;
  }

  .attribution {
    padding-top: 2em;
    position: static;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .decoration {
    padding: 2em 0;
    justify-content: center;
  }

  .main-content .content {
    width: 85%;
  }
}
